@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /*********************************************************  Primitive Color Palette */

    --black: 231, 15%, 19%;
    --white: 0, 0%, 100%;

    /****************************************** Blue */
    --blue-50: 208, 100%, 97%;
    --blue-100: 206, 94%, 94%;
    --blue-200: 203, 97%, 86%;
    --blue-300: 202, 97%, 74%;
    --blue-400: 201, 95%, 60;
    --blue-500: 201, 90%, 48%;
    --blue-600: 203, 100%, 40%;
    --blue-700: 204, 99%, 32%;
    --blue-800: 203, 91%, 27%;
    --blue-900: 205, 82%, 24%;
    --blue-950: 207, 83%, 16%;

    /****************************************** Yellow */
    --yellow-50: 55, 92%, 95%;
    --yellow-100: 55, 100%, 88%;
    --yellow-200: 52, 100%, 77%;
    --yellow-300: 50, 100%, 68%;
    --yellow-400: 48, 98%, 53%;
    --yellow-500: 45, 95%, 47%;
    --yellow-600: 40, 98%, 40%;
    --yellow-700: 35, 94%, 33%;
    --yellow-800: 31, 82%, 29%;
    --yellow-900: 28, 74%, 26%;
    --yellow-950: 26, 86%, 14%;

    /****************************************** Gray */

    --gray-50: 0, 14%, 97%;
    --gray-100: 0, 13%, 95%;
    --gray-200: 0, 15%, 89%;
    --gray-300: 0, 14%, 82%;
    --gray-400: 0, 13%, 71%;
    --gray-500: 0, 11%, 60%;
    --gray-600: 0, 10%, 51%;
    --gray-700: 0, 10%, 42%;
    --gray-800: 0, 10%, 35%;
    --gray-900: 0, 9%, 31%;
    --gray-950: 0, 11%, 15%;

    /****************************************** Red */

    --red-50: 23, 100%, 96%;
    --red-100: 25, 100%, 92%;
    --red-200: 22, 100%, 83%;
    --red-300: 21, 100%, 72%;
    --red-400: 17, 100%, 61%;
    --red-500: 14, 100%, 53%;
    --red-600: 10, 95%, 48%;
    --red-700: 7, 93%, 40%;
    --red-800: 5, 84%, 34%;
    --red-900: 5, 79%, 28%;
    --red-950: 3, 86%, 15%;

    /****************************************** Green */

    --green-50: 120, 18%, 97%;
    --green-100: 120, 21%, 93%;
    --green-200: 124, 21%, 85%;
    --green-300: 122, 20%, 73%;
    --green-400: 122, 19%, 58%;
    --green-500: 121, 19%, 45%;
    --green-600: 122, 20%, 33%;
    --green-700: 122, 19%, 29%;
    --green-800: 123, 17%, 24%;
    --green-900: 124, 17%, 20%;
    --green-950: 125, 22%, 10%;

    /****************************************** Purple */

    --purple-50: 278, 100%, 98%;
    --purple-100: 279, 100%, 95%;
    --purple-200: 278, 100%, 91%;
    --purple-300: 278, 100%, 84%;
    --purple-400: 279, 100%, 73%;
    --purple-500: 279, 100%, 63%;
    --purple-600: 278, 100%, 53%;
    --purple-700: 278, 88%, 47%;
    --purple-800: 279, 82%, 39%;
    --purple-900: 280, 80%, 32%;
    --purple-950: 278, 100%, 22%;

    /*********************************************************  Derived Colors Palette */

    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    --background: var(--white);
    --foreground: var(--black);

    --muted: var(--gray-100);
    --muted-foreground: var(--gray-600);

    --popover: var(--white);
    --popover-foreground: var(--black);

    --card: var(--white);
    --card-foreground: var(--black);

    --border: var(--gray-300);
    --input: var(--gray-300);

    --primary: var(--green-600);
    --primary-foreground: var(--green-50);

    --secondary: var(--green-100);
    --secondary-foreground: var(--green-700);

    --accent: var(--yellow-400);
    --accent-foreground: var(--yellow-50);

    --neutral: var(--gray-100);
    --neutral-foreground: var(--black);

    --destructive: var(--red-500);
    --destructive-foreground: var(--red-50);

    --ring: 215 20.2% 65.1%;

    /*********************************************************  Radius */

    --radius-lg: 12px;
    --radius-md: 6px;
    --radius-sm: 3px;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
}

/**************************************************
*
*
*
*
*
* All of the following code is legacy. Once we are full tailwind, we can delete it.
* Please do not add any new styles to this file. Instead, use tailwind only
*
*
*
*
*
**************************************************/

.dropdown__text {
  /* padding: 10px 16px;
  cursor: pointer;
  height: auto; */
  display: flex;
}

/* .dropdown__text:hover {
  color: white;
  background: #475154;
} */

.dropdown__text:after {
  content: '';
  transition: all 0.3s;
  border: solid #ccc;
  border-width: 0 1px 1px 0;
  float: right;
  margin-top: 8px;
  margin-right: 6px;
  padding: 5px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.dropdown.activeDrop .dropdown__text:after {
  margin-top: 1px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdown__items {
  position: relative;
  visibility: hidden;
  opacity: 0;
  max-height: 0px;
  transition: max-height 0.6s ease;
}

.dropdown.activeDrop .dropdown__items {
  visibility: visible;
  border-top: 0.1px solid #949494;
  height: auto;
  max-height: 290px;
  max-height: 17rem;
  opacity: 1;
  transition: max-height 0.7s, opacity 3s, visibility 4s ease;
  margin-top: 2.5%;
  overflow-y: auto;
}

.dropdown__item {
  /* cursor: pointer; */
  padding: 10px 18px;
  display: flex;
}

.dropdown__item:not(:last-child) {
  border-bottom: 0.1px solid #949494;
}

.dropdown__item:hover {
  color: white;
  background: #3a4143;
}

.verify-email-page {
  padding-bottom: 15rem;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyBtn {
  cursor: pointer;
}

/* RAECT COOKIE NOTICE DEFAULT STYLE OVERWRITE */
.__Q-W2 {
  z-index: 1;
}

/* RAECT DRAGGABLE DEFAULT STYLE OVERWRITE TO HIDE SCROLLBAR */
.react-draggable {
  overflow-y: scroll !important;
  scrollbar-width: 0 !important;
  /* user-select: text !important; */
}

.react-draggable::-webkit-scrollbar {
  /* WebKit */
  width: 0 !important;
  height: 0 !important;
}

.react-draggable div {
  overflow-y: scroll !important;
  scrollbar-width: 0 !important;
  /* user-select: text !important; */
}

.react-draggable div::-webkit-scrollbar {
  /* WebKit */
  width: 0 !important;
  height: 0 !important;
}

.tooltip-container {
  overflow-y: scroll !important;
  scrollbar-width: 0 !important;
  /* user-select: text !important; */
}

.tooltip-container::-webkit-scrollbar {
  /* WebKit */
  width: 0 !important;
  height: 0 !important;
}